<div class="custom-sans-title flex items-center space-x-2">
  <div class="flex-none">
    <img class="h-12 shadow rounded-full" src="/me.avif" />
  </div>
  <div class="animate__animated animate__fadeIn animate__fast flex-1">
    <a class="border-b border-neutral-950 hover:border-b-0 hover:bg-neutral-950 hover:text-neutral-50" href="/">Charlie Revett</a>

    {{ if .IsHome }}
      / <span class="font-bold">Home</span>
    {{ else if or (eq "/cv" .RelPermalink) (eq "/cv/" .RelPermalink)  }}
      / <span class="font-bold">CV</span>
    {{ else if or (eq "/now" .RelPermalink) (eq "/now/" .RelPermalink)  }}
      / <span class="font-bold">Now</span>
    {{ else }}
      / Posts / <span class="font-bold">{{ .Params.date.Format "02 Jan 2006" }}</span>
    {{ end }}
  </div>
</div>
