<div class="flex items-center space-x-2">
  <div class="flex-none">
    <img class="h-12 shadow rounded-full" src="/me.avif" />
  </div>
  <div class="flex-1">
    <a class="text-red-400 border-b-2 border-red-400" href="/">charlie revett</a>

    {{ if .IsHome }}
      / home
    {{ else if or (eq "/cv" .RelPermalink) (eq "/cv/" .RelPermalink)  }}
      / cv
    {{ else if or (eq "/now" .RelPermalink) (eq "/now/" .RelPermalink)  }}
      / now
    {{ else }}
      / posts / {{ .Params.date.Format "02 Jan 2006" }}
    {{ end }}
  </div>
</div>
