<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-neutral-900 text-neutral-50 font-custom-sans">
  <div class="max-w-[600px] mx-16 my-16">
    <header class="mb-8">
      {{ partial "header.html" . }}
    </header>

    <main mb-8>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
