<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-neutral-950 text-neutral-300 font-custom-serif text-base">
  <div class="max-w-[700px] mx-8 my-12 md:m-16">
    <header class="mb-8">
      {{ partial "header.html" . }}
    </header>

    <main class="mb-12">
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
