{{ define "main" }}
  <section>
    <h2 class="custom-sans-title">01 - About</h2>

    <p>
      <span class="text-neutral-950">Hey. I'm Charlie, a software engineer based in London.</span>
      I&apos;m currently a senior product engineer at <a href="https://incident.io">incident.io</a>,
      helping companies like <em>Airbnb</em> and <em>Netflix</em> to improve their incident
      management process.
    </p>

    {{ .Content }}
  </section>

  <section>
    <h2 class="custom-sans-title">02 - Pages</h2>
    <ul>
      <li><a href="/now">/now</a></li>
      <li><a href="/cv">/cv</a></li>
    </ul>
  </section>

  <section>
    <h2 class="custom-sans-title">03 - Connect</h2>
    <ul>
      <li>
        <a href="https://twitter.com/revcd" target="_blank">
          Twitter
        </a>
      </li>
      <li>
        <a href="https://instagram.com/cdrev" target="_blank">
          Instagram
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/cdrev" target="_blank">
          LinkedIn
        </a>
      </li>
      <li>
        <a href="https://github.com/revett" target="_blank">
          GitHub
        </a>
      </li>
      <li>
        <a href="mailto:hi@revdex.fastmail.com">
          Email
        </a>
      </li>
    </ul>
  </section>

  <section>
    <h2 class="custom-sans-title"><a href="/posts">04 - Recent Posts</a></h2>

    <ul>
      {{ range site.Pages }}
        {{ if eq .RelPermalink "/" }}
          {{ continue }}
        {{ else if eq .RelPermalink "/now/" }}
          {{ continue }}
        {{ else if eq .RelPermalink "/cv/" }}
          {{ continue }}
        {{ end }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
  </section>
{{ end }}
