@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d1117;
}

/* https://github.com/tholman/github-corners */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* See: https://github.com/twitter/twemoji#inline-styles */
img.emoji {
  display: inline;
  height: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  width: 1em;
}

@layer components {
  header p a,
  section p a {
    @apply border-b-2 border-indigo-400 text-indigo-400;
  }

  li {
    @apply pb-2;
  }

  li:last-child {
    @apply pb-0;
  }

  p {
    @apply pb-4;
  }

  ul {
    @apply list-dash ml-3 pb-4;
  }

  .now-quote {
    @apply border-l-4 border-slate-300 italic mb-4 pl-2 py-1.5 text-slate-300 text-sm;
  }
}
